/* src/pages/home.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh; /* Faz com que o body ocupe a altura total da tela */
  margin: 0; /* Remove a margem padrão do body */
}

.container {
  background-color: rgb(75, 75, 75);
  width: 800px;
  height: 650px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.devices-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "luz tranca"
    "alarme cortinas"
    "robo cafeteira"
    "ar_condicionado aquecedor";
  gap: 10px;
}

.device-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin for lock button */
}

.device-button.active {
  background-color: green;
}

.device-button.inactive {
  background-color: red;
}

.device-button.locked {
  opacity: 0.5;
  cursor: not-allowed;
}

/* src/components/lockButton.css */
.lock-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.lock-button img {
  height: 100%;
  width: 100%;
}

.lock-button.locked {
  background-color: red;
}

.lock-button.unlocked {
  background-color: green;
}
