

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.container {
    background-color: rgb(75, 75, 75);
    width: 800px;
    height: 500px;
    padding: 15px;
}

.container-header{
    justify-content: center;
    align-items: center;
    display: flex;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .status-item {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }